.env
.env.local
.env.*.local
*.pem
*.key


# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

node_modules/
bower_components/
build/
dist/
out/
target/
.gradle/

*.sqlite
.cache/
.sass-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp